<h1>Create a New Company</h1>

<form method="POST" action="/companies">
    <div>
        <label for="name">Name: </label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="location">Location: </label>
        <input type="text" name="location">
    </div>
    <button type="Submit">Add This Company!</button>
</form>